*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin:0;
    background: linear-gradient(to right, lightblue,blue);
}

.display{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.calculator-grid{
    display: grid;
    justify-content: center;
    margin-top: 2rem;
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: minmax(7rem,auto) repeat(5,6rem);
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1/-1;
    background-color: rgba(0,0,0,0.5) ;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}
.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255,0.75);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus{
    background-color: white;
}

.current-output{
    text-align: right;
    padding: 1rem;
    color: white;
    font-size: 2rem;
}